/**
CSS Reset
 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
My styles
**/
body, html{
    height: 100%
}
h3{
    font-size: 1.6em;
}
h2{
    font-size: 3.1em;
}
body{
    background: #F6F6EF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-settings > .arithmetic-controls{
    font-size: 2em;
}
.time-settings> .time{
    font-size: 5em;
}
.timer>.work{
    padding-top: 60px;
}

.container{
    /*background-color: red;*/
    width: 500px;
    height: 430px;
}
.mode, .timer-control{
    display: flex;
    justify-content: space-around;
    padding:10px 0 0 0px;
}
.has-border{
    border: 1px solid #000000;
    padding: 12px;
    border-radius: 4px;
}
.timer-container{
    display: flex;
    justify-content: center;
}

.timer-container>.timer{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    /*background: blue;*/
    border-radius:50%;
    margin-top: 15px;
    border: 1.3px solid black;
}
.time-settings{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#plus{
    margin-right: 10px;
}
#minus{
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}